[Application]
# Application configuration is sensitive information!
# Verify that this file's permissions are locked down!

# Title to be displayed on web pages
Title: Asteria

Language code: en-us

# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
Time zone: EST5EDT

Use TLS: yes

# Comma-separated list of hosts or allowed to access the application
# E.g., if the web server is running on the same machine as Django,
# simply add the machine's fully-qualified domain name.
Allowed hosts: 127.0.0.1, 127.0.1.1

# Create a unique, unguessable string as your secret key;
# otherwise, a new one will be generated every time the application starts.
# Changing the secret key will invalidate all active sessions.
Secret key:

Debug mode: no



[Admins]
# One per line, formatted as:
# Name: email@example.com



[Directories]
Root: /home/user/Asteria

# For file uploads
Media: /var/www/html/Asteria/media

# Static resources, such as stylesheets and images
Static: /var/www/html/Asteria/static



[Events]
Registration start: 2020-10-20 18:00:00
CTF start         : 2020-10-21 18:00:00
Registration end  : 2020-10-22 18:00:00
CTF end           : 2020-10-23 18:00:00



[Teams]
Max team size: 4



[Database]
# Database configuration is sensitive information!
# Verify that this file's permissions are locked down!

# For possible backend values, see:
# https://docs.djangoproject.com/en/1.11/ref/settings/#std:setting-DATABASE-ENGINE
Backend: django.db.backends.sqlite3

Host: localhost
Port:

# If using SQLite, the path to the database file;
# otherwise, the name of the database.
Name: /home/user/Asteria/db.sqlite3

User    :
Password:



[Email]
# Email configuration is sensitive information!
# Verify that this file's permissions are locked down!

# For possible backend values, see:
# https://docs.djangoproject.com/en/1.11/topics/email/#email-backends
Backend: django.core.mail.backends.smtp.EmailBackend

Use TLS : yes
Host    : localhost
Port    : 1025
User    :
Password:

# The address from which to send normal email messages,
# such as password reset tokens.
Default address:

# The address from which to send error messages via email
# containing full stack traces to all of the specified Admins.
Server address:



