{% extends 'base.html' %}

{% load challenges_helper_tags %}

{% block title %}Categories{% endblock %}

{% block content %}

{% for category in categories %}
{% percentage_completed category user.team as currently_completed %}

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <a href="{% url 'category' category.slug %}">{{ category }}</a>
                <div class="pull-right">
                    {% if currently_completed == 100 %}
                    <span class="glyphicon glyphicon-check"></span>
                    {% endif %}
                </div>
            </h4>
        </div>

        {% if category.description %}
        <div class="panel-body">{{ category.description|safe }}</div>
        {% endif %}

        {% if user.team and currently_completed < 100 %}
        <div class="panel-body text-center">
            {{ currently_completed }}% complete!
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ currently_completed }}%"></div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endfor %}
{% endblock %}
