{% extends 'base.html' %}

{% load challenges_helper_tags %}

{% block title %}Levels{% endblock %}

{% block content %}

<div class="row row-cols-2">
    {% for level in levels %}
    {% is_locked level user.team as level_locked %}
    {% percentage_completed level user.team as currently_completed %}

    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <h4>
                    <a href="{% url 'level' level.number %}">{{ level }}</a>
                    <div class="float-right">
                        {% if level_locked %}
                        <span class="fas fa-lock"></span>
                        {% elif currently_completed == 100 %}
                        <span class="fas fa-check-circle"></span>
                        {% else %}
                        <span class="fas fa-lock-open"></span>
                        {% endif %}
                    </div>
                </h4>
            </div>

            {% if level.description %}
            <div class="card-body">{{ level.description|safe }}</div>
            {% endif %}

            {% if user.team %}
            <div class="card-body text-center">

            {% if not level_locked %}
                {{ currently_completed }}% complete!
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width:{{ currently_completed }}%"></div>
                </div>
            {% endif %}

            {% if user.team.points < level.points_required %}
                {{ level.points_required }} point{% if level.points_required != 1 %}s{% endif %} required to unlock!
                <div class="progress mb-3">
                    <div class="progress-bar bg-warning" role="progressbar" style="width:{% divide user.team.points level.points_required 'True' %}%"></div>
                </div>
            {% endif %}

            {% if forloop.counter0 > 0 %}
            {% get_previous_level level as previous_level %}
            {% percentage_completed previous_level user.team as previous_completed %}
            {% if previous_completed < level.percentage_required %}
                {{ level.percentage_required }}% of <a href="{% url 'level' previous_level.number %}">{{ previous_level }}</a> required to unlock!
                <div class="progress mb-3">
                    <div class="progress-bar bg-warning" role="progressbar" style="width:{% divide previous_completed level.percentage_required 'True' %}%"></div>
                </div>
            {% endif %}
            {% endif %}

                {% if level.challenges_required.all %}
                Challenges required to unlock:
                <div class="d-flex justify-content-center">
                {% endif %}
                    {% for required_challenge in level.challenges_required.all %}
                    {% is_solved required_challenge user.team as challenge_solved %}
                    {% if not challenge_solved %}
                    <a style="text-decoration:none" href="{% url 'challenge' required_challenge.slug %}">
                        <div class="mx-1 mb-2 bg-warning">{{ required_challenge }}</div>
                    </a>
                    {% endif %}
                    {% endfor %}
                {% if level.challenges_required.all %}
                </div>
                {% endif %}

            </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
    {% endblock %}
</div>
