{% extends 'base.html' %}

{% load cache %}

{% block title %}Scoreboard{% endblock %}

{% block content %}

<table class="table table-dark table-striped text-nowrap">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>

    {% cache 15 ranked_teams %}
    {% for team in teams %}
    <tr>
        <td>
            {{ forloop.counter }}
        </td>
        <td><a href="{% url 'team' team.slug %}">{{ team }}</a></td>
        <td>{{ team.points }}</td>
    </tr>
    {% endfor %}
    {% endcache %}

    </tbody>
</table>

{% endblock %}
